
/* Header */
.banner{
    background-image: url(../image/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 300px;
    width: 100%;    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 0;
    margin-bottom: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    height: 180px;
    width: 180px;

    margin-top: -80px;
    
}

.logo img{
    width: 180px;    
}

/* Inputs */
.section_inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.input_email, .input_password{
    display:  flex;
    flex-direction: column;

    padding: 5px;
    margin-bottom: 20px;
    width: 80%;


}

.input_email label, .input_password label{
    padding: 5px;
    font-size: .8em;
    margin-left: 2%;
}

.input_email input, .input_password input{
    border: 1px solid rgb(179, 178, 178);
    border-radius: 50px;
    height: 30px;
}

input::placeholder{
    padding: 20px;
}

/* BTN */
.btn_login{
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1em;

    border-radius: 8px;
    border: none;
    background-color: #1E1E1E;
    color: #fff;
}

/* OR */
.section_or{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.or{
    color: gray;
    margin-top: -5px;
}

.barra{
    border: solid rgb(218, 218, 218) 1px;
    width: 200px;
    margin: 20px;
    align-self: center;
}

.face_google{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.google, .facebook{
    border: solid 1px gray;
    border-radius: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80%;
}

.face_google img{
    width: 30px;
    padding: 5px;
    margin-left: 5%;
}

.face_google span{
    text-align: center;
    width: 100%;
    font-size: larger;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
}
.dev{
    margin-top: 20px;
    font-size: larger;
}
.dev span a{
    text-decoration: none;
    color: #E29E37;
}
